.msgTitle{
    float: left;
    margin-left: 10px;
    color: #17355c;
    font-size: 20px;
}

.msgTime{
    font-size: 20px;
    float: right;
    color: rgb(139, 101, 138);
    margin-right: 20px;
}

.headerTitle {
    width: 100%;
}

.allClear{
    text-align: center;
    text-justify: auto;
    color: rgba(5, 131, 5, 0.63);
    font-size: 25px;
}

.AlarmleftDiv{
    float: left;
    width: 49%;
    align-content: stretch;
    margin-left: 10px;
}

.AlarmrightDiv {
    float: right;
    width: 49%;
    margin-right: 10px;
}

.AlarmCardsColumn {
    display: flex;
    flex-wrap: wrap;   
}

.AlarmCardsColumn > div {
    flex: 1;
    margin: 10px;
}

.AlertsectionHeader{
    margin-bottom: 0px !important;
}