.App {
  text-align: center;
}

.title-header {
  text-align: center;
  align-self: center;
  font-size: 30px;
  margin-left: 1em;
  margin-right: 1em;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

.brand-header {
  text-align: center;
  align-self: center;
  font-size: 20px;
  margin-left: 1em;
  margin-right: 1em;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}


.Alert-banner{
  font-size: 15;
  text-justify: inter-word; 
  text-justify: capitalize;
  margin: 5px 5px;
}

.Alert-banner > div {
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.Content-div {
  padding: 0;
  background: #fff;
  min-height: 360;
  margin: 16px;
}

body {
  height: 95%;
  position: relative;
 }

.main-container {
  min-height: 75vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
 }


footer {
  height: 10px;
  bottom: 0;
  width: 100%;
 }