.App {
  text-align: center;
}

title-header {
  text-align: left;
  font-size: 40px;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}


.Alert-banner{
  text-align: left;
  font-size: 15;
  text-overflow: ellipsis;
  text-justify: inter-word; 
  text-justify: capitalize;
  margin: 5px 5px
}

.Content-div {
  padding: 24;
  background: #fff;
  min-height: 360;
  margin: 16px;
}

.demo-nav {
  /* height: 30px;
  margin-left: 10px;
  margin-top: 5px;
  line-height: 30px;
  margin-bottom: 16px;
  background: #f8f8f8; */
  align-items: center;
}
.demo-nav a {
  line-height: 30px;
  padding: 0 8px;
}

body {
  height: 100%;
  position: relative;
 }

.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 10px; /* height of your footer */
 }


footer {
  position: absolute;
  height: 10px;
  bottom: 0;
  width: 100%;
 }