.reportTitle {
  float: left;
  margin-left: 10px;
  color: #17355c;
  font-size: 20px;
}

.reportTime {
  font-size: 20px;
  float: right;
  color: rgb(139, 101, 138);
  margin-right: 20px;
}

.headerTitle {
  width: 100%;
}

.errorText {
  text-align: center;
  text-justify: auto;
  color: rgb(133, 15, 15);
  font-size: 25px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}