.subscriptionHead {
  horiz-align: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px 20px;
  column-gap: 40px;
  align-content: flex-start;
  max-height: 100%;

  button {
    margin: 0 10px;
  }

  div[clas=control] {
    margin: 0;
    align-self: flex-start
  }

  input[type=checkbox] {
    margin-right: 10px;
  }
}